@page
@model PharmacyApp.Pages.Pharmacies.DetailsModel

@{
    ViewData["Title"] = "Деталі";
}

<h1>Деталі</h1>

<div>
    <h4>Аптека</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pharmacy.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pharmacy.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pharmacy.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pharmacy.City)
        </dd>
        @if (Model.Pharmacy.PharmacyMedicine.Any())
        {
            <dd class="col-sm-auto" style="overflow-y: auto; max-height: 400px;">
                <table class="table-striped table-bordered">
                    <thead style="text-align: center">
                        <tr>
                            <th class="col-sm-auto">#</th>
                            <th class="col-sm-auto">@Html.DisplayNameFor(model => model.Pharmacy.PharmacyMedicine.FirstOrDefault().Medicine.Name)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            @foreach (var item in Model.Pharmacy.PharmacyMedicine)
                            {
                                <tr>
                                    <td style="text-align: center">@i</td>
                                    <td>
                                        <a asp-page="../Medicines/Details"
                                             asp-route-id="@item.MedicineId">
                                            @Html.DisplayFor(modelItem => item.Medicine.Name)
                                        </a>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </dd>
        }

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pharmacy?.Id">Редагувати</a> |
    <a asp-page="./Index">Назад до списку</a>
</div>
