@page
@model PharmacyApp.Pages.PharmacyMedicines.DeleteModel

@{
    ViewData["Title"] = "Видалити";
}

<h1>Delete</h1>

<h3>Ви впевнені, що хочете видалити?</h3>
<div>
    <h4>Наявність ліків</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PharmacyMedicine.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PharmacyMedicine.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PharmacyMedicine.Pharmacy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PharmacyMedicine.Pharmacy.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PharmacyMedicine.Medicine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PharmacyMedicine.Medicine.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PharmacyMedicine.Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-page="./Index"
           asp-route-pageIndex="@Model.PageIndex"
           asp-route-sortOrder="@Model.CurrentSort"
           asp-route-currentFilter="@Model.CurrentFilter">
            Назад до списку
        </a>
    </form>
</div>
